services:
  - type: web
    name: vsecurebytes-backend
    runtime: node
    buildCommand: npm install
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production